@charset "utf-8";
body  {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  margin: 0; 
  padding: 0;
  background: url(../../media/images/pattern-bg.jpg);
}

#notreply{
  color : red;
  margin-top: 20px; 
}

#selectFlag {
  margin-bottom: 10px;
  margin-left:40px;
}
#remove-poi {
  margin-right: 330px;
}
#removeContact {
  margin-right: 20px;
}

#buttondetail{
  margin-top: 20px;
}

#container { 
  width: 960px;
  background: #AAC8E0;
  margin: 0 auto;
  text-align: left;
}

/*login page*/
.loginheader{
  font-size: 15px;
  font-weight: bolder;
  color: #1E385D;
}
.loginform{
  background-color:#AED1FF;
  height:auto;
  margin:150px auto;
  padding:10px;
  width:250px;
  border: 2px solid #FFF;
}

#username-label,#password-label{
  width: 100px;
  float: left;
}

.login-input,.login-label{
  float: left;
}

.login-label{
  margin-top:7px;
  margin-right: 5px;
}

/*
  Header Part
  All id and class name written after "header"
*/

#header { 
  height: 110px;
  width:960px;
  float:left;
} 

/* Grouping same style for fewer line used*/
#header-user-panel, #header-logo, #header-top, .header-cms-text, .boxContent h2, .boxContent h3{font-family: Segoe UI,Arial,sans-serif;}
#header-user-panel, #header-logo, #header-top, .header-cms-text{float: left;}

/*create button*/
.general-button, .listcategory_button {
  background:none repeat scroll 0 0 #AFAFAF;
  color:#000000;
  font-weight:bold;
  margin-bottom:10px;
}

/* The top part of the header*/
#header{
  float:left;
  width:960px;
  height:80px;
  background: url(../../media/images/admin/header-bg.jpg);
}

#header-top{
  float: left;
  width:960px;
  height:auto;
}

#clock{
  float: right;
  margin: 5px 10px 0 0;
  color: #A8C3E0;
  font-family:Verdana, Geneva, sans-serif;
  font-weight:bolder;
  font-size:12px;
}

#header-logo{
  width: 230px;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  color: #E0E3E8;
  margin: 5px 0 0 10px;
}

.header-cms-text{
  width:330px;
  height:30px;
  margin: 15px 0 0 5px;
  font-size:20px;
  color: #D9E3ED;
}

#header-user-panel{
  height:40px;
  width:370px;
}

#header-user-panel ul{
  float: right;
  list-style:none;
}

#header-user-panel li{
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  float:left;
  color: #A8C3E0;
  margin: 0 3px;	
}

#header-user-panel a{color: #A8C3E0; text-decoration:none;}
#header-user-panel img{border: none;}
#header-main-link{float: left; margin-left:10px;}
#header-main-link a{color:#A8C3E0; font-weight:bolder; text-decoration:none;}

.user-panel-name{
  font-weight:bolder; 
  font-size:16px !important; 
  margin-top:-3px !important;
  color: #DEE5F7 !important;
}

#header-logout{float: right;}
#header-logout img{border: none;}

/* Header CSS ends here*/

/*Navigation*/
#navigation{
  background: #AAC8E0;
  float:left;
  width: 960px; 
  display: block;
  min-height: 30px;
  z-index: 1;
  border-top: 1px solid #FFFFFF;
}

#navigation .mainnav, #navigation .subnav{
  position: absolute;
}

#navigation .mainnav, #navigation .subnav{
  margin:0;
  padding:0;
  z-index:2;
}

#navigation .mainnav li{
  text-align: center;
  padding: 5px 0px;
  width: 175px;
  list-style: none;
  border-bottom:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
  float: left;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
}

#navigation .mainnav li ul{
  display: none;
}

#navigation .mainnav li:hover > ul{
  display: block;
}

#navigation .mainnav li:hover, #navigation .subnav li{
  background-color: #1E385D;
}

#navigation .subnav{
  padding: 0;
  margin-top: 6px;
}

#navigation .subnav li{
  float: none;
  padding: 5px 0 5px 5px;
  text-align: center;
  width: 170px;
  background-color: #1E385D;
  border-left:none;
  border-top:none;
}

#navigation .subnav li:hover{
  background-color: #93A9BE;
}

#navigation .subnav li a, #navigation .mainnav li a:hover{
  text-decoration: none;
  color: #FFFFFF;
}

/* Navigation ends Here*/

/* Main Content*/
#mainContent{ 
  float: left;
  width: 960px;
  margin-right:10px;
  background: #FFF;
  z-index: 0;
} 

.boxContainer{
  float: left;
  width: 960px;
  margin: 5px;
}

.breadcrumb{
  float: left;
  width: 100%; 
  color: #2A5983;
  font-size: 12px;
  margin: 10px 0;
}

.boxContainer h2, .boxContainer h3 {margin:0; margin-bottom:5px; color: #183054; margin-left: 10px;}

.boxContainer h2{
  font-weight: bolder;
  font-size: 25px;
  letter-spacing:-1px;
}

.boxContainer h3{
  font-size: 15px;
  font-weight:normal;
  padding-bottom:5px;
  border-bottom: 1px solid #93A9BE;
}

.filter-panel h4, .show-row-panel h4{
}

.filter-panel .filter-box, .language-box, .month-box, .year-box, #date-filter, .rows-box{
}

.name-box, .title-box, .poi-box{
  margin-right: 5px;
  margin-top: 7px;
}

.filter-box{
  margin-left: 5px;
  margin-right: 5px;
}

.boxContent{
  float: left;
  text-align: justify;
  font-size:12px;
}

.boxContainer .signature{
  text-align:right;
  font-size:12px;
  font-weight: bold;
  font-style: italic; 
  width: inherit;
  color: #183054;
  letter-spacing:-1px;
}

.boxContainer .filter-panel{
  float: right;
  width: 70%;
}

/*Form CSS*/
/*New Form CSS*/
form{
  color: #1E385D;
  font-family: Segoe UI,Arial,sans-serif;
}

fieldset{
  margin-left: 10px;
  margin-top: 15px;
}

form label{font-weight: bold;}
form select, select {
  border:1px solid #999999;
  color:#111111;
  margin:5px 0;
  padding:5px;
}
form .upload-error{font-weight: bold; color: red;}
form .upload-message{font-weight: bold; color: blue;}
form input, form .valid{padding:4px 4px 4px 10px; display: inline; border: 1px solid #999999 !important;}
form input:hover{border:1px solid #1E385D; cursor:pointer; background: #AAC8E0;}
form input.error{background: #FFE8E8;}
form input:focus{background-color: #CCCCCC; font-weight: bold;}
form .disabled:hover{background: #CCCCCC; cursor:default;}
form .smallele{width: 100px;}
form .mediumele{width: 250px;}
form .wideele{width: 350px;}
form .chk-msg{display: inline; float:right; margin-left: 10px;}
form .cat_label{width: auto; margin-right:5px;}
form .space_r{margin-right: 5px;}
form .space_l{margin-left: 10px;}
form .space_t{margin-top: 10px;}
form .islandbox, form .areabox, form .provincebox, form .provbox{float:left; width: 100%;}
form .areaname, .general-remove{font-size:11px; float:left; margin: 5px;}
form .slide_content{display:none;}
form #roleTreeContainer{border: 1px dashed #CCC; width: 400px; padding:10px; float: left; margin: 20px}
form #previewRole{border: 1px dashed #CCC; width: 300px; padding:10px; float: left; margin-top: 20px;}

/*end of New Form CSS*/

/*Area Sliding Form CSS*/
.detailsBox{
  width: 100%;
  background: transparent;
  margin-bottom: 10px;
}

.slideHeader{
  height: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #FFF;
  cursor: pointer;
  width: 100%;
}

.slideHeader:hover{
  color: #7F7F7F;
  text-shadow: #FFF 1px 0 1px;
}
.slideHeader-label, .slideHeader-state{
  background-color: #CCCCCC;
  height: 100%;
  padding: 2px;
}
.slideHeader-label{
  float: left;
  width: 200px;
  text-align: center;
}
.slideHeader-state{
  float: left;
  width: 25px;
  text-align: center;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
}
.slideContent{
}

#cord-box{width: 100%; float: left; margin-top: 5px;}

/*end of Area Sliding Form*/

/*highlight image for Lightbox*/
.miniThumbnailImage{
  margin: 5px 0;
  border: none;
}

/*end of Form CSS*/

/*Table style.css*/
.resetTable{
  border: none;
  background: none;
}

.resetTable td, .resetTable tr{
  border: none;
}

/*mini table*/
.cleartable{width: 100%;}
.cleartable, .cleartable td, .cleartable tr{
  border: none;
  background: transparent;
  padding: 0;
}

.category-name{width: auto; margin-right:5px; float: left;}
/*end of mini table*/
/*end of Table style css*/

/*Image CMS CSS ---Different From other CMS--*/


/*end of Main Content*/

#footer {
  width: 960px;
  float: left;
  background: #AAC8E0;
  height: 75px;
}

#footer .address-box{
  margin: 25px;
  width:750px;
  font-weight:bold;
  color: #183054;
  font-size:10px;
}

/* General */
.pagefilter{
  float:right;
  margin-bottom: 5px;
  color: #183054;
}

.mini{width: 150px;}
.tiny{width: 180px;}
.msg-info, .msg-atten, .msg-ok, .msg-error{
  color:#000000;
  margin:3px 0;
  padding:10px 10px 10px 40px;
}

.msg-info, .msg-atten, .msg-ok, .msg-error {
  width: 95%;
}

.msg-info{
  background:url("../../../media/images/msg-info.png") no-repeat scroll 6px center #ADC2F7;
  border:1px solid #6D94F7;
  color:#0033CC;
}

.msg-atten{
  background:url("../../../media/images/msg-atten.png") no-repeat scroll 6px center #FAE673;
  border:1px solid #FEBD63;
  color:#CC6600;
}

.msg-ok{
  background:url("../../../media/images/msg-ok.png") no-repeat scroll 6px center #AEE893;
  border:1px solid #8EC46C;
  color:#006600;
}

.msg-error{
  background:url("../../../media/images/msg-error.png") no-repeat scroll 6px center #F4B8B5;
  border:1px solid #C94042;
  color:#990000;
}

.right{float:right;}
.space_top{padding-top: 75px;}
.tip{font-size:12px;}
/*.btn{border:1px solid #777777; cursor:pointer; padding:5px 15px;}*/
.radius {-moz-border-radius:6px 6px 6px 6px;}
.hidden{display:none;}
.general-remove{color: red; text-decoration: none; font-weight: bold; cursor: pointer; width: 30px; text-align: center;}
.general-remove:hover{color: black;}
.nofloat{float: none !important;}
.nomargin{margin:0;}
.wide{width: 910px;}
.medium{width: 650px;}
.small{width: 450px;}
.mini-ajaxloader{width: 16px; height: 16px;}
#mapCMS{width: 100%; height: 350px; float: left;}
#imageUploadDialog{display:none;}
#dialog{display: none;}
#browsecontainer{margin:25px 10px; width: 660px; height: 600px;}
#imagecontainer{margin:10px;}
#backgroundprocess{display: none;}

.error{
  display: inline;
  color: red;
  padding-left: 20px;
}

#errorContainer{
  width: 100%;
  display: none;
}

#errorContainer ol li{
  color: red;
  font-size: 12px;
  background: url(../../media/images/unchecked.gif) no-repeat;
  list-style: none;
  padding-left: 15px;
}

p.dbMessage{
  background: #DFDFDF;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
/* Paginator*/



/* Paginator ends here*/


.no-border-btm{
  border-bottom: none !important;
}

.clearfloat { 
  clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}

/*calendar widget*/
#widgetField {
  background:url("../../../media/images/field.png") repeat scroll 0 0 transparent;
  height:26px;
  overflow:hidden;
  position:relative;
  width:290px;
  z-index: 1;
}

#widgetField span {
  color:#000000;
  font-size:12px;
  font-weight:bold;
  height:26px;
  left:5px;
  line-height:26px;
  position:absolute;
  text-align:center;
  top:0;
  width:250px;
}

#widgetField a {
  display:block;
  height:26px;
  position:absolute;
  right:0;
  text-decoration:none;
  text-indent:-3000px;
  top:0;
  width:26px;
}
#widgetCalendar  {
  background:none repeat scroll 0 0 #B9B9B9;
  height:0;
  overflow:hidden;
  position:relative;
  top:0px;
  width:588px;
}
/*end of calendar widget*/

/*Jquery AutoComplete CSS*/
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ui-timepickr {
  z-index: 999;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /* 
  if width will be 100% horizontal scrollbar will apear 
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /* 
  it is very important, if line-height not setted or setted 
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}

.ac_loading {
  background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
  background-color: #eee;
}

.ac_over {
  background-color: #0A246A;
  color: white;
}

/*overide jquery datepicker*/
.ui-datepicker-next,.ui-datepicker-prev{background-color:#1867B4;}

/*Lightboxs*/
/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
*/
#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
}
#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block;
}
#lightbox-nav-btnPrev { 
  left: 0; 
  float: left;
}
#lightbox-nav-btnNext { 
  right: 0; 
  float: right;
}
#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0;
}
#lightbox-container-image-data {
  padding: 0 10px; 
  color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
  width: 70%; 
  float: left; 
  text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
  display: block; 
  clear: left; 
  padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
  width: 66px; 
  float: right;
  padding-bottom: 0.7em;	
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
  top:50%;
  left:50%;
}

* html #TB_window { /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}

#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}

#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}

#TB_closeAjaxWindow{
  padding:7px 10px 5px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}

#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}

#TB_title{
  background-color:#e8e8e8;
  height:27px;
}

#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  overflow:auto;
  text-align:left;
  line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
  padding:15px;
}

#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}

#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}

/*date picker css*/
div.datepicker {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 196px;
  height: 147px;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  display: none;
}
.datepickerContainer {
  background: #121212;
  position: absolute;
  top: 10px;
  left: 10px;
}
.datepickerBorderT {
  position: absolute;
  left: 10px;
  top: 0;
  right: 10px;
  height: 10px;
  background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 10px;
  background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
  position: absolute;
  left: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
  position: absolute;
  right: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_br.png);
}
.datepickerHidden {
  display: none;
}
div.datepicker table {
  border-collapse:collapse;
}
div.datepicker a {
  color: #eee;
  text-decoration: none;
  cursor: default;
  outline: none;
}
div.datepicker table td {
  text-align: right;
  padding: 0;
  margin: 0;
}
div.datepicker th {
  text-align: center;
  color: #999;
  font-weight: normal;
}
div.datepicker tbody th {
  text-align: left;
}
div.datepicker tbody a {
  display: block;
}
.datepickerDays a {
  width: 20px;
  line-height: 16px;
  height: 16px;
  padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
  width: 44px;
  line-height: 36px;
  height: 36px;
  text-align: center;
}
td.datepickerNotInMonth a {
  color: #666;
}
tbody.datepickerDays td.datepickerSelected{
  background: #136A9F;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
  background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
  background: #17384d;
}
div.datepicker a:hover,
div.datepicker a:hover {
  color: #88c5eb;
}
div.datepicker td.datepickerNotInMonth a:hover {
  color: #999;
}
div.datepicker tbody th {
  text-align: left;
}
.datepickerSpace div {
  width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.datepickerGoNext a {
  float: right;
  width: 20px;
}
.datepickerGoPrev a {
  float: left;
  width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
  display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
  display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
  display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
  color: #333;
}
td.datepickerDisabled a:hover {
  color: #333;
}
td.datepickerSpecial a {
  background: #700;
}
td.datepickerSpecial.datepickerSelected a {
  background: #a00;
}

.btn-group {
}

.navbar a {
  font-size:14px;
}

.form {
  margin: 0;
}

.paginator {
  float: right;
  clear: both;
}

.filter-hidden {
  display: none;
  visibility: visible;
}

input.filter-hidden {
}

.filter-panel {
  float:left;
}

.tip {
  clear:both;
}


.dropdown-menu {
  margin-top: 0;
}


.table tr td div.control {
  visibility: hidden;
}

.table tr:hover td div.control {
  visibility: visible;
}


legend {
  margin: 0 !important;
}